@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

:root {
}

@theme inline {
  --breakpoint-xs: 440px;

  --color-white: #f9f9fb;
  --color-black: #1e1e1e;
  --color-beige: #af8c6c;
  --color-blue: #0f3c5a;
  --color-blue-light: #e6eaee;
  --color-gray: #d9d9d9;
  --color-gray-light: #f2f2f2;

  --font-montserrat: var(--font-montserrat);
  --font-evolenta: var(--font-evolenta);
}

@layer base {
  :root:has(.no-doc-scroll) {
    overflow: hidden;
    scrollbar-gutter: stable;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    background: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
